doctype html
html(lang="ru")
    head
        block title
            title Portfolio
        meta(charset="utf-8")
        meta(content="" name="author")
        meta(content="" name="description")
        meta(content="" name="keywords")
        meta(content="width=device-width, initial-scale=1" name="viewport")
        meta(content="ie=edge" http-equiv="x-ua-compatible")
        link(rel="stylesheet" href="./style/css/main.css")
        link(rel="stylesheet" href="./style/fonts/fonts.css")
        link(rel="preload" href="./style/fonts/sansus/sansuswebissimo.woff2" as="font" type="font/woff2" crossorigin)
    body.body_overflow-hidden
        block content
        block scripts