//- about-map
.map-cont
    .about__title.about__title_cont Контакты
    ul.map-cont__list
        li.map-cont__item.map-cont__sk skype_kdn
        li.map-cont__item.map-cont__mail astahov@gmail.com
        li.map-cont__item.map-cont__phone +7 931 200 93 24
        li.map-cont__item.map-cont__addr Новосибирск, ул. Инская, д.14