//- common-header
.wrap.wrap__header.wrap__header_blog.bg-forest-index
    .well__header
        +hero-box(class='well__desc_header')
    .nav
        +social-links({ soc_class: 'soc__header',
            vk_class: 'soc__vk_header',
            gh_class: 'soc__gh_header',
            in_class: 'soc__in_header'})
        .gamburger
            a(href="").gamburger__link
                svg(version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="40px" height="35px" viewBox="0 0 40 35" enable-background="new 0 0 40 35" xml:space="preserve").gamburger__svg
                    path(fill="#FFFFFF" d="M40 2.5C40 3.881 38.881 5 37.5 5h-35C1.119 5 0 3.881 0 2.5l0 0C0 1.119 1.119 0 2.5 0h35C38.881 0 40 1.119 40 2.5L40 2.5z").gamburger__path
                    path(fill="#FFFFFF" d="M40 17.5c0 1.381-1.119 2.5-2.5 2.5h-35C1.119 20 0 18.881 0 17.5l0 0C0 16.119 1.119 15 2.5 15h35C38.881 15 40 16.119 40 17.5L40 17.5z").gamburger__path
                    path(fill="#FFFFFF" d="M40 32.5c0 1.381-1.119 2.5-2.5 2.5h-35C1.119 35 0 33.881 0 32.5l0 0C0 31.119 1.119 30 2.5 30h35C38.881 30 40 31.119 40 32.5L40 32.5z").gamburger__path
    .bg-blog
