// прелоадер
.preloader.preloader-bg
    svg(version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="80px" viewBox="0 0 80 95" enable-background="new 0 0 80 95" xml:space="preserve")#svg_loader
        g
            path(d="M0 38.005c6.663 0 6.663 7.801 13.327 7.801c6.665 0 6.665-7.801 13.33-7.801c6.667 0 6.667 7.801 13.334 7.801c6.666 0 6.666-7.801 13.331-7.801 c6.67 0 6.67 7.801 13.339 7.801S73.33 38.005 80 38.005").line
        g
            path(d="M0 61.684c6.663 0 6.663 7.801 13.327 7.801c6.665 0 6.665-7.801 13.33-7.801c6.667 0 6.667 7.801 13.334 7.801c6.666 0 6.666-7.801 13.331-7.801 c6.67 0 6.67 7.801 13.339 7.801S73.33 61.684 80 61.684").line.line-2
        g
            path(d="M0 85.362c6.663 0 6.663 7.801 13.327 7.801c6.665 0 6.665-7.801 13.33-7.801c6.667 0 6.667 7.801 13.334 7.801c6.666 0 6.666-7.801 13.331-7.801 c6.67 0 6.67 7.801 13.339 7.801S73.33 85.362 80 85.362").line.line-3