//- work-about
.wrap.wrap-comments
    .comments-header
        .comments__title Что обо мне говорят
    .comments
          .comments__item
                    .comm__ava
                        img(src='../style/img/content/dk-ava.jpg' alt="dk avatar").comm__img
                    .comm-info
                        .comm__desc Этот парень проходил обучение не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!
                        .comm__name-wr
                            .comm__name Ковальчук Дмитрий
                            .comm__prof - основатель LoftSchool
          .comments__item
                    .comm__ava
                        img(src='../style/img/content/zar-ava.jpg' alt="zar avatar").comm__img
                    .comm-info
                        .comm__desc Этот код выдержит любые испытания. Только, пожалуйста, не загружайте сайт на слишком старых браузерах.
                        .comm__name-wr
                            .comm__name Зар Захаров
                            .comm__prof - преподаватель
    include ../parts/work-contact
    include ../parts/footer