// work-slider
.wrap.wrap_bg-light
    //.bg-arrow-down
    //    .bg-arrow-down__left
    //        +svg-tri-left(class="bg-arrow-down__tri_works")
    //    .bg-arrow-down__right
    //        +svg-tri-right(class="bg-arrow-down__tri_works")
    .myworks-header
        .myworks__title Мои работы
.wrap.wrap__slider
    .slider
        .slider__desc
            .p-card-wr
                .p-card.p-card_active
                    .p-card__title Сайт школы онлайн образования
                    .p-card__desc Html, css, javascript
                    .p-card__btn
                        a(href='#' target='blank').p-card__link Посмотреть сайт
                .p-card
                    .p-card__title ItLoft - агенство интернет решений
                    .p-card__desc Html, css, JQuery
                    .p-card__btn
                        a(href='#' target='blank').p-card__link Посмотреть сайт
                .p-card
                    .p-card__title Портал видеоуроков и it-сообщество
                    .p-card__desc Html, css, javascript
                    .p-card__btn
                        a(href='#' target='blank').p-card__link Посмотреть сайт
                .p-card
                    .p-card__title Сайт ATMA YOGA
                    .p-card__desc Html, css, javascript
                    .p-card__btn
                        a(href='#' target='blank').p-card__link Посмотреть сайт
        .slider__pict
            .pict__list
                .pict__wr
                    .pict__item
                        img.pict__img(src='../style/img/slider/work-1.png')
                    .pict__item
                        img.pict__img(src='../style/img/slider/work-2.png')
                    .pict__item
                        img.pict__img(src='../style/img/slider/work-3.png')
                    .pict__item
                        img.pict__img(src='../style/img/slider/work-4.png')
        .slider__control
            .control.control-down
                a(href='').control__link.control-down__link
                    .control__list
                        .control__wr.control-down__wr
                            .control__item.control-down__item
                                img.control__img(src='../style/img/slider/work-4.png')
                            .control__item.control-down__item
                                img.control__img(src='../style/img/slider/work-1.png')
                            .control__item.control-down__item
                                img.control__img(src='../style/img/slider/work-2.png')
                            .control__item.control-down__item
                                img.control__img(src='../style/img/slider/work-3.png')
            .control.control-up
                a(href='').control__link.control-up__link
                    .control__list
                        .control__wr.control-up__wr
                            .control__item.control-up__item
                                img.control__img(src='../style/img/slider/work-2.png')
                            .control__item.control-up__item
                                img.control__img(src='../style/img/slider/work-3.png')
                            .control__item.control-up__item
                                img.control__img(src='../style/img/slider/work-4.png')
                            .control__item.control-up__item
                                img.control__img(src='../style/img/slider/work-1.png')